<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfac.AGlobalVoiceForAutism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_xhdpi"
        android:label="INCLUDE2020"
        android:roundIcon="@mipmap/ic_launcher_xhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommunityMainActivity"
            android:label="CommunityRegisterPage"
            android:parentActivityName=".CommunityActivity"/>
        <activity
            android:name=".activities.CommunityLoginActivity"
            android:label="CommunityLogInPage"
            android:parentActivityName=".CommunityActivity"/>
        <activity
            android:name=".CommunityActivity"
            android:label="@string/com_section"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WhatsappListActivity"
            android:label="Whatsapp List"
            android:parentActivityName=".CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivity"
            android:label="Video"
            android:parentActivityName=".VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoListActivity"
            android:label="@string/edu_section"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/about_us_section"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopUpVideoActivity"
            android:label="@string/extra_videos"
            android:parentActivityName=".VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/quiz"
            android:parentActivityName=".VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity2"
            android:label="@string/quiz"
            android:parentActivityName=".VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HardcodedVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="Offline Videos"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ResultActivity"
            android:label="Results"
            android:parentActivityName=".VideoListActivity"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>